<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Gmail OAuth Configuration -->
    <key>Gmail</key>
    <dict>
        <key>ClientID</key>
        <string>YOUR_GMAIL_CLIENT_ID</string>
        <key>AuthURL</key>
        <string>https://accounts.google.com/o/oauth2/v2/auth</string>
        <key>TokenURL</key>
        <string>https://oauth2.googleapis.com/token</string>
        <key>Scopes</key>
        <array>
            <string>https://www.googleapis.com/auth/gmail.readonly</string>
            <string>https://www.googleapis.com/auth/gmail.send</string>
            <string>https://www.googleapis.com/auth/gmail.modify</string>
        </array>
        <key>RedirectURI</key>
        <string>emailclean://oauth/gmail</string>
        <key>APIBaseURL</key>
        <string>https://gmail.googleapis.com/gmail/v1</string>
        <key>PrimaryCategory</key>
        <string>primary</string>
        <key>PromotionsCategory</key>
        <string>promotions</string>
        <key>SocialCategory</key>
        <string>social</string>
        <key>UpdatesCategory</key>
        <string>updates</string>
        <key>ForumsCategory</key>
        <string>forums</string>
    </dict>
    
    <!-- Yahoo Mail OAuth Configuration -->
    <key>Yahoo</key>
    <dict>
        <key>ClientID</key>
        <string>dj0yJmk9dGhNU1NJTzJIbE01JmQ9WVdrOU1rVXpSVVpEVTNRbWNHbzlNQT09JnM9Y29uc3VtZXJzZWNyZXQmc3Y9MCZ4PWMx</string>
        <key>AuthURL</key>
        <string>https://api.login.yahoo.com/oauth2/request_auth</string>
        <key>TokenURL</key>
        <string>https://api.login.yahoo.com/oauth2/get_token</string>
        <key>Scopes</key>
        <array>
            <string>email</string>
            <string>profile</string>
            <string>mail-r</string>
            <string>mail-w</string>
            <string>mail-d</string>
        </array>
        <key>RedirectURI</key>
        <string>emailclean://oauth/yahoo</string>
        <key>APIBaseURL</key>
        <string>https://mail.yahooapis.com/ws/mail/v1.1</string>
        <key>UserInfoURL</key>
        <string>https://api.login.yahoo.com/openid/v1/userinfo</string>
        <key>Folders</key>
        <array>
            <string>Inbox</string>
            <string>Sent</string>
            <string>Draft</string>
            <string>Trash</string>
            <string>Spam</string>
        </array>
    </dict>
</dict>
</plist>
